{% extends "layout.html" %}

{% block title %}

    {{ title }}
    
{% endblock %}
{% block main %}
    
	{{ content }}<br>
    
    <!-- <div class="container col-1 position-absolute top-50 start-50 translate-middle">
        <form action="/custom" method="post">
            <div class=">
            <div class="col-auto">
                <select class="form-select my-3" aria-label="Default select example" name="starttime">
                <option selected disabled>start time</option>
                {% for i in time %}
                <option value={{i}}>{{i}}:00</option>  {% endfor %}
                </select>
                <input type="color" name="color1" value="#9b59b6">
    
            </div>
            <div class="col-auto">
                <select class="form-select my-3" aria-label="Default select example"name="endtime">
                <option selected disabled>end time</option>
                {% for i in time %}
                <option value={{i}}>{{i}}:00</option>  {% endfor %}
                </select>
                <input type="color" name="color2" value="#445924">
            </div>
    
            </div>
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>
    </div> -->


    <!-- <div class="container col-sm-4 position-absolute top-50 start-50 translate-middle"> -->
        <div class="container col-sm-4 position-absolute top-50 start-50 translate-middle">
<form action="/custom" method="post">
    <div class="row my-3">
    <div class="col-auto">
        <select class="form-select my-3" aria-label="Default select example" name="starttime">
        <option selected disabled>start time</option>
        {% for i in time %}
        <option value={{i}}>{{i}}:00</option>  {% endfor %}
        </select>
        
    </div>
    <div class="col-auto">
        <select class="form-select my-3" aria-label="Default select example"name="endtime">
        <option selected disabled>end time</option>
        {% for i in time %}
        <option value={{i}}>{{i}}:00</option>  {% endfor %}
        </select>
        
    </div>
    
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <span class="align-middle">light color</span>
            <input type="color" name="color1" value="#e55e5e">

        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto ">
            <span >dark color</span>
            <input type="color" name="color2" value="#f1f075">

        </div>
        
        
    </div>
    <div class="row my-3">
        <div class="col-auto ">
        <button type="submit" class="btn btn-outline-light">Search</button>
    </div>
    </div>
</form>
</div>


{% endblock %}