{% extends "layout.html" %}

{% block title %}

    {{ title }}
    
{% endblock %}
{% block main %}
    
	{{ content }}<br>
    
      



<form action="/custom" method="post">
    <div class="row my-3 align-items-center">
    <div class="col-auto">
        <select class="form-select my-3" aria-label="Default select example" name="starttime">
        <option selected disabled>start time</option>
        {% for i in time %}
        <option value={{i}}>{{i}}:00</option>  {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <select class="form-select my-3" aria-label="Default select example"name="endtime">
        <option selected disabled>end time</option>
        {% for i in time %}
        <option value={{i}}>{{i}}:00</option>  {% endfor %}
        </select>
    </div>
    </div>

    <button type="submit" class="btn btn-outline-light">Search</button>
</form>


{% endblock %}