{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}


<div class= "mx-4 my-4">
    <p class="h3 text-center">Device</p>
    <p class="h5 text-center">an app for smartphone </p>

    

    <div class="row align-items-start">
    <div class="col">
      <div class= "h6">
    <p> The initial idea was to make the sensors together with arduino or raspberry py, but due to the practicality and cost, I decided to use a smartphone. The advantage is also the ease of sharing the application, making the tool available to everyone.</p>

    <p> improvements to be made:</p>
    <p>
    <ul>
      <li>The smartphone sensor is for screen brightness regulation, it captures the light that enters it directly and not the diffused light of the environment. The measurement of the sensor varies greatly according to where it is pointed.
      </li>
      <li>Through the application it is not possible to view the data on the map and the data is saved on the device only when synchronized with the database.
      </li>
    </ul>
      </p>
    </div>
    </div>
    <div class="col">
      <div class= "mx-4 my-4">
        <img src="static/smartphone.PNG" class="rounded img-fluid mx-auto d-block" alt="image of a smartphone with the app" width="300">
        </div>
    </div>
    
  </div>


    


</div>
{% endblock %}