{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}


<div class= "mx-4 my-4">
    <p class="h3 text-center">Device</p>
    <p class="h5 text-center">an app for smartphone </p>

    

    <div class="row align-items-center">
    <div class="col">
      One of three columns
      <div class= "h6">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisl eros, lobortis in tortor ut, porttitor volutpat quam. Donec ut ipsum at dolor vulputate porttitor. In lacinia purus urna, pulvinar viverra arcu aliquam eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque consectetur odio dapibus, scelerisque ex tempus, vestibulum turpis. Phasellus rhoncus vel mauris eget consequat. Donec eu rutrum nisl. Nullam feugiat tristique elit, at luctus orci hendrerit nec. Quisque fringilla libero in egestas gravida. Integer mollis ex nisl, a ultricies mauris sollicitudin in. Pellentesque porttitor mattis condimentum. Aenean commodo ultrices eleifend. Cras id est efficitur dui porta dignissim id vitae turpis. Ut at gravida sem.</p>

    <p> Morbi vel mauris maximus sapien dictum finibus a eget mauris. Phasellus facilisis fermentum ultricies. Phasellus et nulla vehicula, ullamcorper erat sed, elementum mauris. Nam commodo aliquet mi, nec cursus est mattis commodo. Sed volutpat, tortor ut sodales ullamcorper, mauris enim imperdiet mauris, nec pellentesque ante turpis at turpis. Duis id porta velit. Nam et sagittis purus, id convallis quam. Suspendisse ac tincidunt justo. Cras lacus felis, egestas in efficitur quis, venenatis ac lacus.</p>
    </div>
    </div>
    <div class="col">
      <div class= "mx-4 my-4">
        <img src="static/smartphone.PNG" class="rounded img-fluid mx-auto d-block" alt="image of a smartphone with the app">
        </div>
    </div>
    
  </div>


    


</div>
{% endblock %}