{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}


<div class= "mx-4 my-4">	
    <p class="h3 text-center">how</p>
    <p class="h5 text-center">light sensor with gps </p>
    
    
    <div class= "h6">
        <br>
        <p> The app collects the amount of light through the smartphone's sensor and records it with the GPS location, date and time.</p>
        
        
        
        <p> The data is shared with the website that stores it in the database. It is possible to visualize data using filters by time or day/night.</p>
        <br>
        

    </div>

    <div class="row justify-content-center">
        <br>
        <div class="col-4">
          <p class="h5">At day:</p>
          <span class="tab"><font color=#e55e5e>red:</font></span> shadow<br>
          <span class="tab"><font color=#f1f075>yellow:</font></span> direct sun<br>
          <img src="static/mapatday.PNG" class="rounded img-fluid mx-auto d-block" alt="map image at day">
          
        </div>
        <div class="col-4">
            <p class="h5">At night:</p>
          <span class="tab"><font color=#e55e5e>red:</font></span> darkness<br>
          <span class="tab"><font color=#f1f075>yellow:</font></span> good lighting<br>
          <img src="static/mapatnight.PNG" class="rounded img-fluid mx-auto d-block" alt="map image at night">
        </div>
    </div>

    
    

</div>
{% endblock %}