{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}


<div class= "mx-4 my-4">	
    <p class="h3 text-center">lighting monitoring</p>
    <p class="h5 text-center">smart city solution </p>
    
    <div class= "mx-4 my-4">
    <img src="static/image.PNG" class="rounded img-fluid mx-auto d-block" alt="image from application" width="600">
    </div>
    

    <div class= "h6">
    <p> location_cs50 is a smart city project that collects sensor data across the city and displays it on the map. In this initial version, it have been collected how much lighting there is in the streets that the user walks through, it can be used both during the day and at night.</p>
    
    <p> It is possible to increase the monitoring power with small adaptations and the inclusion of more types of sensors: temperature, humidity, noise. If used with accelerometers it is possible to determine the streets with the worst pavement quality.</p>
    </div>
    

</div>
{% endblock %}