{% if geojson is defined %}
		<div id="map" style="width:100%; height: 85vh;"></div>
		<script> 

			mapboxgl.accessToken = 'pk.eyJ1IjoiYmx1aXNmZXJuYW5kZXMiLCJhIjoiY2t0MjRvdmY2MGhrajJubzJ3NHdtNGFhbiJ9.ETbidupITC5LM0SD_JH57A';
			const map = new mapboxgl.Map({
				container: 'map',
				{% if 'dark' == style %}
				{# monochrom_dark #}
				style: 'mapbox://styles/bluisfernandes/ckyj5i1p12jb214q9arw9dsyf',
				{% else %}
				{# monochrom_light #}
				style: 'mapbox://styles/bluisfernandes/ckylzcdk50wzy14s9dv9amkdn',
				{% endif %}
				
				
				center: [-70.59356532, -33.414100659],
				zoom: 15.5
			});

			map.on('load', () => {
				map.addSource('points_geojson', {
					'type': 'geojson',
					'data': {{ geojson | tojson }}
				});

				map.addLayer({
					'id': 'x',
					'type': 'circle',
					'source': 'points_geojson',
					'paint': {
						'circle-radius': {
							'base': 2,
							'stops': [
								[15, 1.4],
								[22, 80]
								]
						},
						{% if night is sameas true %}
							{% if color1 is defined %}
						'circle-color': {
							property: 'sensor',
							stops: [
								[0, '{{color1}}'],
								[80, '{{color2}}']
								]},
						'circle-stroke-color': {
							property: 'sensor',
							stops: [
								[0, '{{color1}}'],
								[80, '{{color2}}']
								]}

							{% else %}
						'circle-color': {
							property: 'sensor',
							stops: [
								[0, '#e55e5e'],
								[80, '#f1f075']
								]},
						'circle-stroke-color': {
							property: 'sensor',
							stops: [
								[0, '#e55e5e'],
								[80, '#f1f075']
								]}

							{% endif%}

						{% else %}
							{% if color1 is defined %}
						'circle-color': {
							property: 'sensor',
							stops: [
								[0, '{{color1}}'],
								[12294, '{{color2}}']
								]},
						'circle-stroke-color': {
							property: 'sensor',
							stops: [
								[0, '{{color1}}'],
								[12294, '{{color2}}']
								]}

							{% else %}
						'circle-color': {
							property: 'sensor',
							stops: [
								[0, '#e55e5e'],
								[12294, '#f1f075']
								]},
						'circle-stroke-color': {
							property: 'sensor',
							stops: [
								[0, '#e55e5e'],
								[12294, '#f1f075']
								]}

							{% endif%}

						{% endif %}
						,
						'circle-opacity': 0.8,
						'circle-stroke-width': {
							'base': 2,
							'stops': [
								[15, 1.4],
								[22, 80]
								]
						},
						'circle-stroke-opacity': {
							'base': 2,
							'stops': [
								[15, 0.8],
								[20, 0.5]
								]
						}
					}
				});
			});

		</script>

	{% endif %}