<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">

		

		<style>
		    body { margin: 0; padding: 0; }
		    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    	</style>

	{% if site_map is defined %}
		<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
   		<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
	{% endif %}

		<link href="/static/styles.css" rel="stylesheet">

		<link href="/static/favicon.ico" rel="icon">

		<title>location: {% block title %}{% endblock %}</title>

	</head>

	<body>

		<main class="container p-5">
	            {% block main %}{% endblock %}
	    </main>

	</body>

	<footer class="small text-center text-muted">
            location - Final Project - CS50
    </footer>

</html>

