<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		
	{% if geojson is defined %}
		<style>
		    body { margin: 0; padding: 0; }
		    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    	</style>

		<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
   		<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
	{% endif %}

		<link href="/static/styles.css" rel="stylesheet">

		<link href="/static/favicon.ico" rel="icon">

		<title>location: {% block title %}{% endblock %}</title>

	</head>

	<body>

		<main class="container p-5">
	            {% block main %}{% endblock %}
	    </main>

	{% if geojson is defined %}
		<div id="map"></div>
		<script> 

			mapboxgl.accessToken = 'pk.eyJ1IjoiYmx1aXNmZXJuYW5kZXMiLCJhIjoiY2t0MjRvdmY2MGhrajJubzJ3NHdtNGFhbiJ9.ETbidupITC5LM0SD_JH57A';
			const map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/bluisfernandes/ckyj5i1p12jb214q9arw9dsyf',
				center: [-70.599517, -33.416503],
				zoom: 14
			});

			map.on('load', () => {
				map.addSource('national-park', {
					'type': 'geojson',
					'data': {{ geojson | tojson }}
				});

				map.addLayer({
					'id': 'x',
					'type': 'circle',
					'source': 'national-park',
					'paint': {
						'circle-radius': {
							'base': 1.75,
							'stops': [
								[12, 2],
								[22, 180]
								]
						},
						'circle-color': {
							property: 'sensor',
							stops: [
								[0, '#e55e5e'],
								[12294, '#f1f075']
								]
						},
						'circle-opacity': 0.5
					}
				});
			});

		</script>

	{% endif %}


	</body>


</html>

