{% extends "layout_map.html" %}

{% block title %}
    map
{% endblock %}

{% block main %}


	<div id="map"></div>

	<script>


		mapboxgl.accessToken = 'pk.eyJ1IjoiYmx1aXNmZXJuYW5kZXMiLCJhIjoiY2t0MjRvdmY2MGhrajJubzJ3NHdtNGFhbiJ9.ETbidupITC5LM0SD_JH57A';
	    const map = new mapboxgl.Map({
	        container: 'map',
	        style: 'mapbox://styles/mapbox/outdoors-v11',
	        center: [-70.707484, -33.413237],
	        zoom: 12
	    });



	    map.on('load', () => {
	        map.addSource('national-park', {
	            'type': 'geojson',
	            'data': {{geojson}}
	        });


	        map.addLayer({
	            'id': 'x',
	            'type': 'circle',
	            'source': 'national-park',
	            'paint': {

	                'circle-radius': {
	                      'base': 1.75,
	                      'stops': [
	                      [12, 2],
	                      [22, 180]
	                      ]
	                },
	                'circle-color': [
	                    'match',
	                    ['get', 'color'],
	                    'red',
	                    '#fbb03b',
	                    'green',
	                    '#223b53',
	                    'blue',
	                    '#e55e5e',
	                    'yellow',
	                    '#3bb2d0',
	                     '#ccc'
	                ]
	            }
	        });
	    });



	</script>


{% endblock %}